@font-face {
    font-family: '나눔스퀘어';
    src: url(../font/NanumSquareAcB.woff);
}
img {
    border-style: none;
}
body{
    margin: 0px;
    font-family: "나눔스퀘어";
    font-weight: 500;
}
div, input, textarea, button, label, i{
    box-sizing : border-box;
}
main {
    display: block;
}
p,h4,h3,h2,h1,button,span{
    transform: rotate(0.04deg);
}
h1{
    font-size: 36px;
}
.main-container{
    width: 100%;
    height: 700px;
    background: linear-gradient(rgb(73, 151, 220), rgb(78, 97, 192));
    margin: 0px;
    position: relative;
    display: inline-block;
    overflow : hidden;
}
.main-img{
    position: absolute;
    width: 470px;
    height: 550px;
    right: 15%;
    bottom: 0px;
}
.main-img img{
    width: 100%;
    height: 100%;
}
.main-content{
    color: white;
    margin: auto;
    padding-top: 70px;
    padding-left: 10%;
    display: inline-block;
}
.main-content-button{
    color: white;
    margin: auto;
    border: 0px;
    border-radius: 5px;
    width: 130px;
    height: 50px;
    background-color: rgb(68, 68, 68);
    z-index: 1;
    cursor: pointer;
    transition: all 0.5s;
}
.main-content-button:hover{
    background-color: rgb(41, 41, 41)
}
.main-content-button:active{
    margin-top: 2px;
}
.Show-container{
    width: 100%;
    height: 375px;
}
.Show-child{
    margin: auto;
    width: 100%;
    height: 100%;
    padding-top: 75px;
    margin-top: 0px;
    text-align: center;
    justify-self: center;
    word-spacing: -1px;
}
.Show-child h3{
    font-size: 30px;
}
.Show-child p{
    font-size: 20px;
}
.Show-child button{
    width: 170px;
}
.explain-container{
    width: 100%;
    background-color: rgb(78,97,192);
    height: 550px;
}
.explain-box{
    width: 80%;
    max-width: 1200px;
    text-align: center;
    margin: auto;
    color: white;
}
.explain-box h3{
    font-size: 30px;
    margin: 0px;
    padding-bottom :60px;
}
.explain-box p{
    font-size: 16px;
    margin: 0px;
    padding-top :70px;
}
.explain-fontawesome{
    float: left;
    width: 25%;
    margin: 0px;
    margin-top: 40px;
}
.explain-fontawesome i{
    width: 130px;
    height: 130px;
    font-size: 50px;
    border-radius: 80px;
    padding-top: 40px;
    color: rgb(78,97,192);
    background-color: white;
    transition: all 0.5s;
}
.explain-fontawesome i:hover{
    color: rgb(50, 48, 194);
}
.explain-fontawesome h4{
    margin: 0px;
    padding-bottom: 10px;
    padding-top: 20px;
    font-size: 26px;
}
.explain-fontawesome p{
    padding: 0px;
}
.portfolio{
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.portfolio h4{
    font-size: 30px;
}
.portfolio-item1 {
    float: left;
    width: 50%;
    height: 350px;
    background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(img/portfolio-1.jpg);
    background-size: cover;
    position: relative;
}
.portfolio-item2 {
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(img/portfolio-2.jpg);
    background-size: cover;
    position: relative;
}
.portfolio-item3 {
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(img/portfolio-3.jpg);
    background-size: cover;
    position: relative;
}
.portfolio-item4 {
    float: left;
    width: 50%;
    height: 350px;
    background-image: url(img/portfolio-4.jpg);
    background-size: cover;
    position: relative;
}
.portfolio-text {
    color: white;
    padding: 50px;
    width: 100%;
} 
.portfolio-container {
    text-align: left;
    max-width: 1200px;
    margin: auto;
}
.white-box{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index : 2;
    border : 0px solid white;
    transition: all 0.7s;
  }
.white-box:hover {
    border : 30px solid white;
}
.footer{
    height: 350px;
    width: 100%;
    margin: auto;
}
.footer-container{
    width: 350px;
    margin: auto;
}
.footer-box{
    float: left;
    text-align: center;
    width: 33%;
    margin: 0px;
    margin-top: 80px;
}
.footer-box i{
    width: 80px;
    height: 80px;
    border-radius: 50px;
    font-size: 30px;
    padding-top: 25px;
    background-color: rgb(78,97,192);
    color: white;
}

@media screen and (max-width: 1200px){
    .main-img{ 
        right: 8%;
        width: 430px;
        height: 500px;
    }
    .Show-child button{
        width: 160px;
    }
    .explain-container{
        height: 760px;
    }
    .explain-box{
        max-width: 700px;
    }
    .explain-fontawesome{
        width: 50%;
    }
    .portfolio-item1,.portfolio-item2,.portfolio-item3,.portfolio-item4{
        float: none;
        width: 100%
    }
}
@media screen and (max-width: 768px){
    .main-container{
        text-align: center;
    }
    .main-content{
        padding-left: 0%;
    }
    .main-img{
        width: 360px;
        height: 400px;
        left: 50%;
        transform: translate(-50%, 0%);
    }
    .Show-child{
        padding-top: 90px;
    }
    .Show-child h3{
        font-size: 22px;
    }
    .Show-child p{
        font-size: 16px;
    }
    .Show-child button{
        width: 150px;
    }
    .explain-box{
        width: 100%;
    }
}